.character-sheet {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background: rgba($light-beige, 0.9);
  margin: 1.5rem;
  padding: 1rem;
  padding-top: 0;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0px 2px 5px 2px rgba($primary-black, 0.8);
  position: relative;

  &__popup-roll {
    position: relative;
    padding-top: 0.25rem;

    &::before {
      content: "ROLL";
      font-family: "Roboto Condensed";
      font-size: 0.7rem;
      font-weight: bold;
      text-align: center;
      color: rgba($content-colour-accent, 0.7);
      position: absolute;
      width: 100%;
      height: 100%;
      top: -1rem;
    }
  }

  &__popup {
    padding-top: 0.5rem;
  }

  &__popup-keep {
    position: relative;
    padding-top: 0.25rem;

    &::before {
      content: "KEEP";
      font-family: "Roboto Condensed";
      font-size: 0.7rem;
      font-weight: bold;
      text-align: center;
      color: rgba($content-colour-accent, 0.7);
      position: absolute;
      width: 100%;
      height: 100%;
      top: -1rem;
    }
  }

  &__navbar {
    width: 120%;
    padding: 1rem;
    margin: 0 -1rem 1rem;
    border-bottom: 2px solid rgba($primary-black, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $primary-dark-colour;
  }

  &__navbar-left-link {
    display: flex;
  }

  &__navbar-icon {
    color: rgba($background-colour-primary, 0.9);
    filter: drop-shadow(0 1px 2px rgba($dark-blue, 0.6));
  }

  &__navbar-text {
    margin-left: 0.25rem;
    font-family: "Fontin Italic";
    font-size: 1.0625rem;
    color: rgba($background-colour-primary, 0.8);
    filter: drop-shadow(0 1px 2px rgba($dark-blue, 0.6));
  }

  &__navbar > .ui.button {
    margin: 0;
    width: 1rem;
    padding: 0.78571429em 1.35em 0.78571429em;
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.7s ease-in-out;

    &:hover,
    &:focus {
      width: 8.5rem;

      .character-sheet__navbar-button-text {
        opacity: 1;
      }
    }
  }

  &__navbar > .ui.button:not(.icon) > .icon:not(.button):not(.dropdown) {
    // margin: -0.4rem;
    transform: translateX(-0.225rem);
    // transition: margin 0.7s ease-in-out;
  }

  &__navbar-button-text {
    opacity: 0;
    transition: opacity 0.7s ease-out;
  }

  &__info-container {
    width: 55%;
    height: 20rem;
    display: flex;
    flex-wrap: wrap;
    background: $light-slate;
    border: 1px solid rgba($dark-blue, 0.4);
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;

    // &::before {
    //   content: "";
    //   width: 50%;
    //   height: 50%;
    //   position: absolute;
    //   top: -1rem;
    //   right: -1rem;
    //   background: url("../assets/images/Mon_Crab_colour.png") no-repeat;
    //   background-size: contain;
    //   background-position: right;
    //   opacity: 0.3;
    // }

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      box-shadow: 3px 0px 10px 1px rgba($primary-dark-colour, 0.5) inset;
    }
  }

  &__info-mon {
    width: 50%;
    height: 50%;
    position: absolute;
    top: -1rem;
    right: -1rem;
    opacity: 0.5;
  }

  &__artwork {
    height: 100%;
    width: 7rem;
    // background: url("../assets/images/example_YasukiHayami.png");
    // background-size: cover;
    // background-position: center;
    // background-position-x: -6rem;
    box-shadow: -30px 0 25px $light-slate inset;
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba($light-slate, 0.25);
      z-index: 1;
    }
  }

  &__info {
    width: calc(100% - 7rem);
    right: 0;
    padding: 1rem 1rem 0 0;
    position: relative;
    z-index: 10;

    &::before {
      content: "";
      width: 100%;
      height: calc(100% - 4rem - 1rem);
      position: absolute;
      top: 0;
      left: -1rem;
      margin-top: 4rem;
      margin-bottom: 1rem;
      border-left: 2px dotted rgba($primary-black, 0.4);
    }
  }

  &__name-heading {
    position: relative;
    z-index: 1;
    left: -3rem;
    // padding-top: 1rem;
    text-align: left;
    font-family: "BrushtipTexe";
    font-weight: 700;
    font-size: 2.5rem;
    color: $content-colour-accent;
    filter: drop-shadow(2px 2px 3px $primary-dark-colour);
  }

  &__details-container {
    display: flex;
    align-items: center;
    padding: 0.75rem 0;
    border-bottom: 1px solid rgba($background-colour-secondary, 0.4);

    &:last-child {
      border-bottom: none;
    }
  }

  &__info-text {
    font-size: 1.125rem;
    color: $background-colour-primary;
    position: relative;
    top: 0.125rem;
  }

  &__info-text--identifier {
    background: $primary-dark-colour;
    padding: 0.5rem 1rem 0;
    border-radius: 1.5rem;
    margin: 0 0.5rem;
    font-family: "BrushtipTexe";
    font-size: 1.25rem;
    color: $content-colour-accent;
    top: 0;
  }

  &__info-text--rank {
    margin-left: 1.5rem;
    font-family: "Fontin Small Caps";
    font-size: 1rem;
    font-style: italic;
    color: $background-colour-secondary;
    position: relative;
    top: 0.175rem;
  }

  &__info-experience-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0.75rem;
  }

  &__info-xp {
    display: flex;
  }

  &__exp-icons {
    width: 1rem;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-left: 0.5rem;
    margin-top: -0.35rem;
  }

  &__icon-button {
    background: none;
    border: none;
    color: $content-colour-accent;
    filter: drop-shadow(0.5px 0.5px 1px rgba($dark-blue, 0.5));
    transition: color 0.3s ease-in-out;

    &:hover,
    &:focus {
      outline: none;
      color: $mid-peach;
    }
  }

  &__rank-label {
    line-height: 1rem;
  }

  &__status-outer-container {
    width: 45%;
    height: 20rem;
    flex: 1 1;
    margin-left: 1rem;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }

  &__status-borders-horizontal {
    width: 100%;
    height: calc(100% - 2rem);
    border-left: 4px solid $primary-dark-colour;
    border-right: 4px solid $primary-dark-colour;
    position: absolute;
  }

  &__status-borders-vertical {
    width: calc(100% - 2rem);
    height: 100%;
    border-top: 4px solid $primary-dark-colour;
    border-bottom: 4px solid $primary-dark-colour;
    position: absolute;
  }

  &__status-round-corner {
    width: 2rem;
    height: 2rem;
    border: 4px solid $primary-dark-colour;
    border-radius: 10rem;
    position: absolute;
  }

  .corner-top-left {
    top: -1rem;
    left: -1rem;
  }

  .corner-top-right {
    top: -1rem;
    right: -1rem;
  }
  .corner-bottom-left {
    bottom: -1rem;
    left: -1rem;
  }
  .corner-bottom-right {
    bottom: -1rem;
    right: -1rem;
  }

  &__initiative-karma-container {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    width: 100%;
  }

  // &__initiative-container {
  // }

  &__initiative-count {
    background: $primary-dark-colour;
    padding: 0.125rem 1rem 0;
    border-radius: 2.5rem;
    margin: 0 0.5rem;
    font-family: "Otsutome";
    font-size: 2.5rem;
    letter-spacing: 0.0325rem;
    color: $background-colour-primary;
    filter: drop-shadow(0 2px 2px $primary-black);
    transform: scale(1);
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__initiative-label {
    font-family: "Fontin Small Caps";
    font-size: 0.925rem;
    font-weight: bold;
    color: rgba($primary-black, 0.7);
    padding-top: 0.5rem;
  }

  &__karma-container {
    position: relative;
  }

  &__karma-count {
    background: $mid-slate;
    padding: 0.125rem 1rem 0;
    border-radius: 0.5rem;
    margin: 0 0.5rem;
    font-family: "Otsutome";
    font-size: 2.5rem;
    letter-spacing: 0.0325rem;
    color: rgba($light-beige, 1);
    filter: drop-shadow(0 2px 2px $primary-black);
    transform: scale(1);
    transition: transform 0.2s ease-in-out;

    // &:hover {
    //   transform: scale(1.05);
    // }
  }

  &__karma-icons {
    position: absolute;
    width: 1rem;
    height: 100%;
    top: 0.375rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
  }

  &__karma-label {
    font-family: "Fontin Small Caps";
    font-size: 0.925rem;
    font-weight: bold;
    color: rgba($primary-black, 0.7);
    padding-top: 0.5rem;
  }

  &__stats-container {
    width: 100%;
    align-self: flex-end;
    padding-bottom: 1.5rem;
  }

  &__honor-container,
  &__glory-container,
  &__status-container {
    width: 100%;
    // padding: 0 1rem;
    position: relative;
    z-index: 1;
  }

  &__honor-text,
  &__glory-text,
  &__status-text {
    font-family: "Fontin Small Caps";
    font-size: 1.25rem;
    color: $mid-slate;
  }

  &__honor-slots,
  &__glory-slots,
  &__status-slots {
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    height: 100%;
  }

  &__slots-image {
    width: 2rem;
    height: 2rem;
    max-width: 2rem;
    max-height: 2rem;
    margin: 0.0625rem;
    background: url("../assets/images/rings/rings_empty_whiteBG.png") no-repeat;
    background-size: contain;
    background-position: center;
  }

  .honor-point,
  .glory-point,
  .status-point {
    position: relative;

    // &::after {
    //   content: "";
    //   height: 100%;
    //   width: 4px;
    //   position: absolute;
    //   top: 0;
    //   left: 45%;
    //   border-radius: 0.5rem;
    //   background: rgba($primary-black, 0.5);
    //   background: linear-gradient($primary-dark-colour, $primary-black);
    //   transform: rotate(37deg);
    //   opacity: 0.7;
    // }
  }

  .honor-point {
    &::after {
      content: "義";
      font-family: "Honoka";
      font-size: 1.25rem;
      color: $primary-dark-colour;
      position: relative;
      top: 0.3rem;
      background: linear-gradient(-45deg, $accent-red, $primary-black);
      background-size: 100%;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .glory-point {
    &::after {
      content: "栄";
      font-family: "Honoka";
      font-size: 1.25rem;
      color: $primary-dark-colour;
      position: relative;
      top: 0.3rem;
      background: linear-gradient(-45deg, $accent-red, $primary-black);
      background-size: 100%;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .status-point {
    &::after {
      content: "格";
      font-family: "Honoka";
      font-size: 1.25rem;
      color: $primary-dark-colour;
      position: relative;
      top: 0.3rem;
      background: linear-gradient(-45deg, $accent-red, $primary-black);
      background-size: 100%;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  // rings
  &__rings-container {
    width: 100%;
    // width: 70%;
    height: 100%;
    padding: 1rem;
    // height: 20rem;
    // flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: $light-slate;
    border: 1px solid rgba($dark-blue, 0.4);
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 7px 1px rgba($primary-dark-colour, 0.5) inset;
    margin: 1rem 0;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 0.5rem;
      background: linear-gradient(
        45deg,
        rgba($mid-slate, 0.3),
        rgba($mid-peach, 0.4)
      );
      opacity: 1;
    }
  }

  &__all-rings-container {
    // width: 70%;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__rings-image {
    height: 18rem;
    width: 18rem;
    background: url("../assets/images/rings/rings_noBG.png") no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.7;
    position: relative;
  }

  &__ring-rank-container {
    height: 2.75rem;
    width: 2.75rem;
    background: url("../assets/images/rings/rings_empty_whiteBG.png");
    background-size: contain;
    background-position: center;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__trait-rank {
    font-family: "Otsutome";
    font-size: 1.875rem;
    color: $primary-complement;
    padding-top: 0.35rem;
    padding-left: 0.15rem;
    background: linear-gradient(-45deg, $accent-red, $primary-black);
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__trait-text {
    position: absolute;
    top: 1.25rem;
    font-family: "BrushtipTexe";
    font-size: 1.75rem;
    line-height: 1rem;
    color: $primary-black;
  }

  // elements
  .earth {
    top: 5.5rem;
    left: 6.25rem;
  }

  .air {
    top: 5.5rem;
    right: 6rem;
  }

  .water {
    top: 8.25rem;
    left: 5.25rem;
  }

  .fire {
    top: 8.25rem;
    right: 5rem;
  }

  .void {
    top: 10rem;
    left: 7.75rem;
  }

  // traits
  .stamina {
    top: -0.25rem;
    left: 3rem;
  }

  .stamina-text {
    left: -5rem;
  }

  .willpower {
    top: 2.25rem;
    left: 0.5rem;
  }

  .willpower-text {
    left: -6rem;
  }

  .reflexes {
    top: -0.25rem;
    right: 3rem;
  }

  .reflexes-text {
    right: -5rem;
  }

  .awareness {
    top: 2.25rem;
    right: 0.5rem;
  }

  .awareness-text {
    right: -6rem;
  }

  .strength {
    top: 10rem;
    left: -1rem;
  }

  .strength-text {
    padding-top: 0.25rem;
    left: -5.25rem;
  }

  .perception {
    top: 13rem;
    left: 0.75rem;
  }

  .perception-text {
    padding-top: 0.25rem;
    left: -6.75rem;
  }

  .agility {
    top: 10rem;
    right: -1.25rem;
  }

  .agility-text {
    padding-top: 0.25rem;
    right: -4rem;
  }

  .intelligence {
    top: 13rem;
    right: 0.55rem;
  }

  .intelligence-text {
    padding-top: 0.25rem;
    right: -6.25rem;
  }

  &__void-container {
    width: 100%;
    padding: 0 5rem;
    position: relative;
    z-index: 1;
  }

  &__void-text {
    font-family: "Fontin Small Caps";
    font-size: 1.5rem;
    color: $primary-black;
    position: relative;
    padding-bottom: 0.75rem;

    &::after {
      content: "(click to toggle)";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 1.125rem;
      left: 0;
      font-size: 0.825rem;
      text-align: center;
    }
  }

  &__void-slots {
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    height: 100%;
  }

  &__void-slots-image {
    // max-width: 10%;
    width: 2rem;
    height: 2rem;
    margin: 0.0625rem;
    background: url("../assets/images/rings/rings_empty_whiteBG.png") no-repeat;
    background-size: contain;
    background-position: center;
  }

  .void-spent {
    position: relative;

    &::after {
      content: "虚";
      font-family: "Otsutome";
      font-size: 1.75rem;
      color: $primary-dark-colour;
      position: relative;
      top: 0.4rem;
      background: linear-gradient(-45deg, $accent-red, $primary-black);
      background-size: 100%;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .unavailable {
    opacity: 0.4;
  }

  // skills
  &__skills-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: rgba($dark-blue, 0.8);
    border: 1px solid rgba($dark-blue, 0.4);
    border-radius: 0.5rem;
    padding: 1rem;
    overflow: hidden;
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(
        180deg,
        rgba($dark-blue, 0.4),
        rgba($primary-black, 0.7),
        rgba($primary-black, 0.9),
        rgba($primary-black, 0.5),
        rgba($dark-blue, 0.4)
      );
    }

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      box-shadow: 0 0 10px 1px rgba($primary-black, 0.8) inset;
    }
  }

  // table
  &__skills-table {
    width: 100%;
    position: relative;
    z-index: 1;
    color: $background-colour-secondary;
    table-layout: fixed;
    border-collapse: collapse;
    font-family: "Fontin Regular";
    color: $background-colour-primary;
  }

  // tr > th
  .heading-name {
    width: 30%;
    text-align: left;
    padding: 0.5rem;
    font-family: "Honoka";
    font-size: 0.875rem;
    color: rgba($light-slate, 0.9);
    border-bottom: 4px double rgba($light-slate, 0.3);
  }

  .heading-rank {
    width: 10%;
    font-family: "Honoka";
    font-size: 0.875rem;
    color: rgba($light-slate, 0.9);
    border-bottom: 4px double rgba($light-slate, 0.3);
  }

  .heading-trait {
    font-family: "Honoka";
    font-size: 0.875rem;
    color: rgba($light-slate, 0.9);
    border-bottom: 4px double rgba($light-slate, 0.3);
  }

  .heading-roll {
    width: 10%;
    font-family: "Honoka";
    font-size: 0.875rem;
    color: rgba($light-slate, 0.9);
    border-bottom: 4px double rgba($light-slate, 0.3);
  }

  .heading-types {
    width: 25%;
    text-align: left;
    font-family: "Honoka";
    font-size: 0.875rem;
    padding-left: 2rem;
    color: rgba($light-slate, 0.89);
    border-bottom: 4px double rgba($light-slate, 0.3);
  }

  // td
  &__skills-item {
    color: rgba($background-colour-secondary, 0.8);

    &:nth-child(2n + 2) {
      background: rgba($content-colour-accent, 0.1);
    }
  }

  &__skill-name {
    text-align: left;
    font-family: "Fontin Bold";
    font-size: 1.25rem;
    padding: 1.25rem 0.75rem;
    border-bottom: 2px dotted rgba($background-colour-secondary, 0.4);
  }

  &__skill-rank {
    font-family: "Honoka";
    font-weight: bold;
    font-size: 1.5rem;
    color: $content-colour-accent;
    border-bottom: 2px dotted rgba($background-colour-secondary, 0.4);
  }

  &__skill-trait {
    border-bottom: 2px dotted rgba($background-colour-secondary, 0.4);
  }

  &__skill-roll {
    border-bottom: 2px dotted rgba($background-colour-secondary, 0.4);
    transform: scale(1);
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  .skill-roll {
    background: $primary-dark-colour;
    padding: 0.125rem 0.75rem 0;
    border-radius: 1.5rem;
    margin: 0 0.5rem;
    font-family: "Otsutome";
    font-size: 1.5rem;
    letter-spacing: 0.0325rem;
    color: $background-colour-primary;
    filter: drop-shadow(0 2px 5px $primary-black);
  }

  &__skill-types {
    text-align: left;
    border-bottom: 2px dotted rgba($background-colour-secondary, 0.4);
    padding-left: 2rem;
  }
}
