.characters {
  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 4rem 1.5rem;
    background: url("../assets/images/characters_header.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 0 -30px 30px $absolute-background-colour inset;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba($absolute-background-colour, 0.5);
      z-index: 1;
    }
  }

  &__heading {
    font-family: "BrushtipTexe";
    font-weight: 700;
    font-size: 3.5rem;
    color: $content-colour-accent;
    filter: drop-shadow(2px 2px 3px $primary-dark-colour);
    position: relative;
    z-index: 10;
  }

  &__cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 10;
  }
}
