@font-face {
  font-family: "BrushtipTexe";
  src: url("../assets/fonts/BrushtipTexe.otf") format("opentype");
}

@font-face {
  font-family: "Fontin Regular";
  src: url("../assets/fonts/Fontin-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Fontin Italic";
  src: url("../assets/fonts/Fontin-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Fontin Bold";
  src: url("../assets/fonts/Fontin-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Fontin Small Caps";
  src: url("../assets/fonts/Fontin-SmallCaps.ttf") format("truetype");
}
