html,
body {
  box-sizing: border-box;
  margin: 0;
}

* {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Fontin Regular";
  margin: 0;
  color: $background-colour-secondary;
}

.App {
  background: rgba($primary-black, 0.6);
  padding-bottom: 0.25rem;
}

.font-fix {
  font-family: "Otsutome";
  position: relative;
  top: 0.125rem;
  margin-left: 0.125rem;
}

.link {
  color: $primary-complement;
  font-family: "Fontin Small Caps";

  &:hover {
    color: $content-colour-accent;
  }
}

// **********
// adjustments for semantic ui components
.ui.button {
  margin: 0.25rem;
  background: $background-colour-secondary;
  color: $primary-dark-colour;
  border: 1px solid rgba($background-colour-secondary, 0);

  &:hover {
    background: rgba($primary-dark-colour, 0.7);
    color: $content-colour-accent;
    border: 1px solid rgba($primary-dark-colour, 0);
  }
}

// for poppy buttons
.ui.primary.button {
  background: $primary-dark-colour;
  color: rgba($content-colour-accent, 0.7);
  border: 1px solid rgba($primary-dark-colour, 0);

  &:hover {
    background: rgba($primary-complement, 0.75);
    color: $content-colour-accent;
    border: 1px solid rgba($primary-complement, 0);
  }
}

// for warning buttons
.ui.negative.button {
  background: white;
  color: rgba($accent-red, 0.8);
  border: 1px solid $accent-red;

  &:hover {
    background: $accent-red;
    color: white;
  }
}
