html,
body {
  box-sizing: border-box;
  margin: 0;
}

* {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Fontin Regular";
  margin: 0;
  color: $background-colour-secondary;
}

ul {
  padding: 0;
  // margin: 0;
  list-style-type: none;
}

li {
  font-family: "Fontin Regular";
  color: $background-colour-secondary;
}

label {
  font-family: "Fontin Regular";
  color: $background-colour-secondary;
}

.App {
  background: $absolute-background-colour;
  padding-bottom: 0.25rem;
  min-height: 100vh;
}

.font-fix {
  font-family: "Otsutome";
  position: relative;
  top: 0.125rem;
  margin-left: 0.125rem;
}

.link {
  color: $primary-complement;
  font-family: "Fontin Small Caps";
  text-decoration: none;

  &:hover {
    color: $content-colour-accent;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
  }
}

// .pop-text-1 {
//   color: $content-colour-accent;
// }

.pop-text-2 {
  color: $mid-beige;
  filter: drop-shadow(0.5px 0.5px 0 $accent-red);
}

// .pop-text-3 {
//   color: $accent-red;
// }

// **********
// adjustments for semantic ui components
.ui.button {
  margin: 0.25rem;
  font-family: "Roboto Condensed";
  background: $background-colour-secondary;
  color: $primary-dark-colour;
  border: 1px solid rgba($background-colour-secondary, 0);

  &:hover,
  &:focus {
    background: rgba($primary-dark-colour, 0.7);
    color: $content-colour-accent;
    border: 1px solid rgba($primary-dark-colour, 0);
  }

  &:active {
    background: rgba($background-colour-secondary, 0.9);
    color: $primary-dark-colour;
  }
}

// for poppy buttons
.ui.primary.button {
  background: $primary-dark-colour;
  color: rgba($content-colour-accent, 0.7);
  border: 1px solid rgba($primary-dark-colour, 0);

  &:hover,
  &:focus {
    background: rgba($primary-complement, 0.75);
    color: $content-colour-accent;
    border: 1px solid rgba($primary-complement, 0);
  }

  &:active {
    background: rgba($primary-complement, 0.5);
    color: $content-colour-accent;
  }
}

// for warning buttons
.ui.negative.button {
  background: white;
  color: rgba($accent-red, 0.8);
  border: 1px solid $accent-red;

  &:hover,
  &:focus {
    background: $accent-red;
    color: white;
  }

  &:active {
    background: rgba($accent-red, 0.8);
    border-color: rgba($accent-red, 0.8);
  }
}

// for button group
.ui.buttons .button:first-child {
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.ui.buttons .button:last-child {
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

// or button separator
.ui.buttons .or::before {
  background: $background-colour-primary;
  color: rgba($primary-black, 0.8);
}

.ui.selection.dropdown,
.menu > .item {
  font-family: "Roboto Condensed";
  background: $primary-black;
  color: $content-colour-accent;

  &:hover,
  &:focus {
    border: 1px solid rgba($background-colour-secondary, 0.5);
  }
}

.ui.selection.dropdown .menu > .item {
  background: $primary-black;
  color: $background-colour-secondary;
  border-top: $primary-black;

  &:hover,
  &:focus {
    background: rgba($primary-black, 0.2);
  }
}

.ui.selection.dropdown .menu > .item:hover,
.ui.selection.dropdown .menu > .item:focus {
  background: $mid-slate;
}

.ui.dropdown .menu .selected.item {
  background: $background-colour-primary;
  color: $light-slate;
}

.ui.selection.visible.dropdown > .text:not(.default) {
  color: $background-colour-primary;
}

.ui.selection.active.dropdown .menu,
.ui.selection.active.dropdown {
  border-color: $primary-dark-colour;
}

.ui.dropdown .menu > .item > .description,
.ui.dropdown > .text > .description {
  color: $accent-red;
}

.ui.selection.active.dropdown:hover,
.ui.selection.active.dropdown:hover .menu {
  border-color: $content-colour-accent;
}

// inputs
.ui.form .field .ui.input input,
.ui.form .fields .field .ui.input input {
  background: rgba($background-colour-secondary, 0.2);
  border: 1px solid rgba($background-colour-primary, 0.3);
  color: $content-colour-accent;
  font-family: "Fontin Regular";

  &::placeholder {
    color: rgba($background-colour-primary, 0.6);
  }

  &:hover,
  &:focus {
    border-color: $primary-complement;
  }
}

.ui.form .fields {
  width: 50%;
  flex-wrap: wrap;
}

.ui.form .field {
  margin-bottom: 0;

  // &:last-child {
  //   margin-left: 1rem;
  // }
}

.wizard__form-add-skill-dropdowns > .field,
.wizard__form-school-skill > .field {
  &:nth-child(n + 2) {
    margin-left: 1rem;
  }
}

.ui.form .field > label {
  color: $background-colour-secondary;
  text-align: left;
  padding-left: 0.25rem;
  padding-top: 1rem;
}

// .wizard__form-skill-select > .ui.form .field > .selection.dropdown {
//   width: 20rem;
// }

// loader
.ui.loader {
  &::before {
    border-color: rgba($primary-dark-colour, 0.5);
  }

  &::after {
    border-color: $content-colour-accent transparent transparent;
    // border-style: dotted;
  }
}

// statistic for xp
.ui.statistic > .value {
  font-family: "Otsutome";
  font-size: 1.75rem !important;
  color: $primary-complement;
  position: relative;
  top: 0.125rem;
  filter: drop-shadow(1px 1px 0 rgba($primary-black, 0.3));
}

.ui.statistic > .label {
  color: $background-colour-secondary;
  font-family: "Fontin Regular";
  font-size: 0.925rem;
  position: relative;
  line-height: 1rem;
}

.ui.statistic {
  margin-top: 0;
}

.character-sheet__info-experience-container > .ui.statistic > .label,
.character-sheet__info-xp > .ui.statistic > .label {
  font-family: "Fontin Bold";
  font-size: 0.75rem;
  line-height: 0.875rem;
  color: rgba($mid-slate, 0.8);
}

.character-sheet__info-experience-container > .ui.statistic > .value,
.character-sheet__info-xp > .ui.statistic > .value {
  font-size: 2.25rem;
  margin-bottom: 0.25rem;
  color: $primary-dark-colour;
}

// dividers
.ui.horizontal.divider {
  width: 100%;
}

.ui.horizontal.divider:after,
.ui.horizontal.divider:before {
  top: 0;
}
