.home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  // padding: 0 1rem;
  background: $primary-black;
  margin: 1.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0px 2px 5px 2px rgba($primary-black, 0.8);

  &__header {
    width: 100%;
    background: url("../assets/images/home_header.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 1.5rem 1rem;
    padding-bottom: 3.5rem;
    box-shadow: 0 -30px 30px $primary-black inset;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba($primary-black, 0.5);
      z-index: 1;
    }
  }

  &__main-heading {
    font-family: "BrushtipTexe";
    font-weight: 700;
    font-size: 3.5rem;
    color: $content-colour-accent;
    filter: drop-shadow(2px 2px 3px $primary-dark-colour);
    position: relative;
    z-index: 10;
  }

  &__main-heading--kanji {
    font-family: "Otsutome";
    font-weight: 400;
    position: relative;
    top: 0.25rem;
  }

  &__sub-heading {
    position: relative;
    z-index: 10;
    color: $background-colour-secondary;
    filter: drop-shadow(2px 2px 2px $primary-black);
  }

  &__sub-heading--pop {
    font-weight: bold;
    color: $primary-complement;
  }

  &__image {
    width: 100%;
    max-width: 32rem;
    margin: 0 1rem;
    margin-bottom: 1.5rem;
    // border: 1px solid rgba($content-colour-accent, 1);
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0px 0px 3px 2px rgba($content-colour-accent, 0.8);
  }

  &__inset-container {
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    border: 1px solid rgba($mid-peach, 0.35);
    box-shadow: 0px 0px 10px 1px rgba($mid-blue, 0.8) inset;
    background: rgba($primary-dark-colour, 0.25);
  }

  &__body-text {
    margin: 0.5rem 0;
  }

  &__button {
    margin: 0.25rem;
  }
}
