$absolute-background-colour: #595657;
$background-colour-primary: #ddd5c4;
$background-colour-secondary: #b8b6af;
$content-colour-accent: #dccdb0;

$primary-dark-colour: #822c2d;
$primary-black: #221e1f;

$primary-complement: #00b5ad;

// additional dark theme colour palette
$dark-blue: #1b1b2f;
$mid-blue: #162447;
$light-blue: #1f4068;
$accent-red: #e43f5a;

// option two colour palette (light mode?)
$light-beige: #e7dec8;
$mid-beige: #cbaf87;
$light-slate: #7e8a97;
$mid-slate: #30475e;

// traditional palette
$bright-red: #7d0633;
$dark-red: #31112c;
$mid-peach: #f2a07b;
$pale-sand: #fbdcc4;

// ring colours
$air-ring: #3e298b;
$air-ring-light: #858ca7;
$earth-ring: #416b2c;
$earth-ring-light: #949c85;
$fire-ring: #c03f1b;
$fire-ring-light: #e59877;
$water-ring: #17528d;
$water-ring-light: #92a7ba;
$void-ring: #383330;
$void-ring-light: #94908d;

$test: rgba(#416b2c, 1);
