$background-colour-primary: #ddd5c4;
$background-colour-secondary: #b8b6af;
$content-colour-accent: #dccdb0;

$primary-dark-colour: #822c2d;
$primary-black: #221e1f;

$primary-complement: #00b5ad;

// additional dark theme colour palette
$dark-blue: #1b1b2f;
$mid-blue: #162447;
$light-blue: #1f4068;
$accent-red: #e43f5a;

// option two colour palette (light mode?)
$light-beige: #e7dec8;
$mid-beige: #cbaf87;
$light-slate: #7e8a97;
$mid-slate: #30475e;

// traditional palette
$bright-red: #7d0633;
$dark-red: #31112c;
$mid-peach: #f2a07b;
$pale-sand: #fbdcc4;
