.wizard {
  // display: flex;
  // justify-content: center;
  // flex-wrap: wrap;
  // text-align: center;
  // padding: 0 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  background: $primary-black;
  margin: 1.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0px 2px 5px 2px rgba($primary-black, 0.8);
  position: relative;

  &__header-container {
    width: 100%;
    height: 20rem;
    background: url("../assets/images/wizard_header.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 1.5rem 1rem;
    box-shadow: 0 -30px 30px $primary-black inset;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba($primary-black, 0.5);
      z-index: 1;
    }
  }

  &__header-heading {
    font-family: "BrushtipTexe";
    font-weight: 700;
    font-size: 3.5rem;
    color: $content-colour-accent;
    filter: drop-shadow(2px 2px 3px $primary-dark-colour);
    position: relative;
    z-index: 10;
  }

  &__inset-container {
    width: 100%;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    border: 1px solid rgba($primary-dark-colour, 0.35);
    box-shadow: 0px 0px 10px 1px rgba($primary-black, 1) inset;
    background: rgba($background-colour-secondary, 0.1);
    position: relative;
    z-index: 10;
    top: -1rem;
  }

  &__divider-text {
    font-family: "Noto Serif JP";
    color: rgba($content-colour-accent, 0.7);
    filter: drop-shadow(1px 1px 0 $primary-black);
  }

  // part one rules
  .part-one-container {
    display: flex;
    justify-content: center;
  }

  // selection containers, lots of shared styles
  &__clan-container,
  &__family-container,
  &__school-container {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
    border: 1px solid rgba($background-colour-secondary, 0.1);
    box-shadow: 0px 0px 10px 1px rgba($dark-blue, 0.8) inset;
    background: rgba($background-colour-secondary, 0.1);
    display: flex;
    justify-content: space-evenly;
    // align-items: center;
    flex-wrap: wrap;
  }

  &__left-container,
  &__middle-container {
    width: 50%;
  }

  &__right-container {
    width: 100%;
  }

  &__heading {
    margin-bottom: 0.75rem;
  }

  &__skills-pick-label {
    display: block;
    margin-top: 0.75rem;

    &:first-child {
      margin-top: 0;
    }
  }

  &__bonus-text {
    // font-family: "BrushtipTexe";
    font-size: 1.25rem;
  }

  &__details-text {
    text-align: justify;
    padding: 0.35rem;

    &:last-child {
      margin-top: 0.5rem;
    }
  }

  // part two rules
  .part-two-container {
  }

  &__form-container > .ui.form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &__form-details {
    text-align: left;
    padding: 1rem;
    padding-bottom: 0;
    color: $primary-complement;
    font-size: 1rem;
  }

  &__form-selections-table {
    width: 100%;
    margin-top: 1.5rem;
    border-collapse: collapse;
    font-family: "Fontin Regular";
    font-size: 0.925rem;
  }

  &__selections-header {
    color: rgba($content-colour-accent, 0.7);
    background: linear-gradient(to bottom, $primary-dark-colour, transparent);
    padding: 0.25rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    font-family: "Fontin Bold";
    font-size: 1rem;
  }

  &__selections-table-mon {
    width: 32%;
    height: 100%;
    background-size: contain;
    background-position: center;
  }

  &__selections-table-category {
    text-align: right;
    padding: 0.25rem;
    color: $background-colour-secondary;
    vertical-align: top;
  }

  &__selections-table-item {
    text-align: left;
    width: 25%;
    padding: 0.25rem 0.5rem;
    color: $content-colour-accent;
  }

  &__selections-table-bonus {
    text-align: left;
    vertical-align: top;
    padding: 0.25rem;
    color: rgba($primary-complement, 0.7);
    font-family: "Fontin Bold";
  }

  &__form-xp-rings-container {
    width: 50%;
    // height: 20rem;
    flex: 1 1;
    margin-left: 1.5rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    background: rgba($primary-black, 0.4);

    &::after {
      content: "";
      width: 60%;
      height: 60%;
      position: absolute;
      z-index: -1;
      top: -5.5rem;
      left: -2rem;
      background: url("../assets/images/rings/rings_noBG.png") no-repeat;
      background-size: contain;
      background-position: center;
      opacity: 0.6;
    }
  }

  &__form-rings-borders-horizontal {
    width: 100%;
    height: calc(100% - 2rem);
    border-left: 3px solid rgba($content-colour-accent, 0.5);
    border-right: 3px solid rgba($content-colour-accent, 0.5);
    position: absolute;
  }

  &__form-rings-borders-vertical {
    width: calc(100% - 2rem);
    height: 100%;
    border-top: 3px solid rgba($content-colour-accent, 0.5);
    border-bottom: 3px solid rgba($content-colour-accent, 0.5);
    position: absolute;
  }

  &__form-rings-round-corner {
    width: 2rem;
    height: 2rem;
    border: 3px solid rgba($content-colour-accent, 0.5);
    background: #322e2e;
    background-clip: padding-box;
    border-radius: 10rem;
    position: absolute;
  }

  .corner-top-left {
    top: -1rem;
    left: -1rem;
  }

  .corner-top-right {
    top: -1rem;
    right: -1rem;
  }
  .corner-bottom-left {
    bottom: -1rem;
    left: -1rem;
  }
  .corner-bottom-right {
    bottom: -1rem;
    right: -1rem;
  }

  &__form-rings-header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__form-rings-heading {
    width: 100%;
    text-align: left;
    padding-left: 1rem;
  }

  &__form-xp-container {
    background: url("../assets/images/rings/rings_empty_noBG.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 5rem;
    height: 5rem;
    padding-top: 0.45rem;
    // top: -0.75rem;
    // left: -0.5rem;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    &::before {
      content: "";
      background: url("../assets/images/rings/rings_empty_whiteBG.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      filter: brightness(0) saturate(100%) invert(4%) sepia(2%) saturate(7243%)
        hue-rotate(294deg) brightness(94%) contrast(82%);
      opacity: 0.9;
    }

    &::after {
      content: "";
      background: url("../assets/images/rings/rings_empty_noBG.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      filter: invert(95%) sepia(7%) saturate(1291%) hue-rotate(333deg)
        brightness(93%) contrast(85%);
    }
  }

  &__form-rings-table {
    width: 100%;
    font-family: "Fontin Regular";
    color: $background-colour-primary;
    border-collapse: collapse;
    margin-top: 1rem;
    margin-left: 0.5rem;
  }

  &__form-skills {
    width: 100%;
    margin-top: 2.5rem;
  }

  &__skills-heading {
    text-align: left;
  }

  &__form-school-skill {
    // display: flex;
    // align-items: center;
    width: 100%;
    height: 4rem;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid rgba($background-colour-secondary, 0.2);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__form-school-skill-name {
    width: 15rem;
    text-align: left;
    padding-left: 0.5rem;
  }

  &__form-school-skill-trait,
  &__form-add-skill-trait {
    margin-left: 2rem;
    color: rgba($background-colour-secondary, 0.7);
  }

  &__form-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-top: 1rem;
    padding-left: 0.5rem;
  }

  &__form-add-skill-button {
  }

  &__form-add-skill {
    width: 100%;
    height: 5rem;
    padding: 1rem;
    border-bottom: 1px solid rgba($background-colour-secondary, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;

    &:first-child {
      border-top: 1px solid rgba($background-colour-secondary, 0.2);
      margin-top: 1.5rem;
    }

    &:last-child {
      margin-bottom: 1.5rem;
    }
  }

  &__form-add-skill-dropdowns {
    flex: 1 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__form-skill-select {
    width: 15rem;
    align-self: flex-start;
  }

  &__form-skill-rank-select {
    width: 6rem;
    align-self: flex-start;
    position: relative;
  }

  &__form-skill-delete {
  }

  &__form-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }
}
